body{
	background: #2196F3;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

#appview{
    margin: 10px;
    overflow: hidden;
}

#searchbox{
	border: 0;
    border-bottom: 2px solid #1976D2;
    width: 100%;
    font-size: 30px;
    line-height: 35px;
    height: 40px;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #BBDEFB;
}
@media(max-width: 992px){
	#searchbox{
		font-size: 20px;
		padding: 0; 
		height: 35px;
	}
}

input#searchbox::-webkit-input-placeholder{
    color: #1976D2;
}
input#searchbox:-moz-placeholder {
    color: #1976D2;
}

#weatherList{
	text-align: center;
    margin: 40px 0;
}

.weatherDayBox{
	display: inline-block;
    text-align: left;
    background: #0076d4;
    padding: 15px;
    border-radius: 12px;
    height: 120px;
    margin: 7px;
}

.weatherDayBox div span{
	float: right;
}