<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Backbone Weather</title>
		<link rel="stylesheet" media="all" href=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
		<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
		<script type="text/javascript" src="js/models/weather.js"></script>
		<script type="text/javascript" src="js/collections/weather.js"></script>
		<script type="text/javascript" src="js/views/weatherList.js"></script>
		<script type="text/javascript" src="js/views/app.js"></script>
	</head>
	
	<body lang="en">
	    <div id="appview">
	        <input id="searchbox" type="text" />
	        <div id="weatherList">
	        </div>
	    </div>
	    
	    <script type="text/template" id="weatherPerDay">

            <% _.each( weathers, function( day_item ){ %>

	            <h1><%= day_item.get("date") %></h1>
	            
	            <div>Min t: <%= day_item.get("day").mintemp_c %> </div>
	            <div>Max t: <%= day_item.get("day").maxtemp_c %> </div>

            <% }); %>

        </script>
    
	</body>
</html>